#Django==3.2.6
Django<4
future
captcha
django-statici18n
django-webpack_loader==0.7.0
#django-webpack_loader>=0.7.0 tried but failed
gunicorn
mysqlclient
#django-picklefield==2.1.1
django-picklefield
openpyxl
qrcode
#django-formtools==2.3
django-formtools
django-simple-captcha
#djangorestframework==3.11.1
djangorestframework
python-dateutil
requests
pillow
#pyjwt==2.1.*
pyjwt
#pycryptodome==3.12.0
pycryptodome
requests_oauthlib
chardet
python-cas
#djangosaml2==0.20.0
djangosaml2
#pysaml2==6.5.1
pysaml2
#cffi==1.14.0
cffi
# input from @nihilistaX see https://github.com/haiwen/seafile-rpi/issues/99
cryptography==36.0.0
